<div class="album py-5">
    <div class="container">
        <h3 class="my-2">Driver List</h3>
        <div class="row row-cols-1 g-3">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">MongoDB ID</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">License</th>
                        <th scope="col">is Active?</th>
                        <th scope="col">Create At</th>
                        <th scope="col">Show Packages</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                       @for(aDriver of driverList; track $index){
                        <tr>
                        <th scope="row">{{aDriver._id}}</th>
                        <td>{{aDriver.driverId}}</td>
                        <td>{{aDriver.driverName|uppercase}}</td>
                        <td>{{aDriver.driverDepartment}}</td>
                        <td>{{aDriver.driverLicence}}</td>
                        <td>{{aDriver.driverIsActive}}</td>
                        <td>{{aDriver.driverCreatedAt}}</td>
                        <td>
                          <form>
                        <button class="btn btn-primary" (click)="getDriverPackage(aDriver._id)" id="getDriverPackage" name="getDriverPackage" >?</button></form>
                      </td>
                      </tr>
                    }
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

@if(showPackage){
  @if(packageList.length>0){
    <div class="album py-5">
      <div class="container">
          <h3 class="my-2">Package List</h3>
          <div class="row row-cols-1 g-3">
              <div class="col">
                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">MongoDB ID</th>
                          <th scope="col">Id</th>
                          <th scope="col">Title</th>
                          <th scope="col">Weight</th>
                          <th scope="col">Destination</th>
                          <th scope="col">Description</th>
                          <th scope="col">IsAllocated</th>
                          <th scope="col">packageDriverId</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        @for(aPackage of packageList; track $index){
                          <tr>
                          <th scope="row">{{aPackage._id}}</th>
                          <td>{{aPackage.packageId}}</td>
                          <td>{{aPackage.packageTitle}}</td>
                          <td>{{aPackage.packageWeight|weight}}</td>
                          <td>{{aPackage.packageDestination}}</td>
                          <td>{{aPackage.packageDescription}}</td>
                          <td>{{aPackage.isAllocated}}</td>
                          <td>{{aPackage.packageDriverId}}</td>
                        </tr>
                      }
                      </tbody>
                    </table>
              </div>
          </div>
      </div>
    </div>}

  @else{ 
    <div class="container">
      <h3 class="my-2">This driver has no packages at the moment</h3>
    </div> }
}