<footer style="position: fixed;">
    <div style="display: flex;justify-content: center;text-align: center; font-weight: bold; color:white">
        <div style="font-size: 24px; width: 20%; padding-top: 30px;">
            <p>Kiu Tik Morgan Pak</p>
        </div>

        <div style="width: 40%; padding-top: 10px;">
            <p style="font-size: 18px;">About Us</p>
            <p style="font-size: 16px;"> M TECH</p>
            <p style="font-size: 16px;"> Probably the best sofware firm in the world</p>
        </div>

        <div style="width: 40%;">
            <p style="font-size: 18px;">Contact Us</p>
            <p style="font-size: 16px;">Email: kpak0002&#64;student.monash.edu</p>
            <p style="font-size: 16px;">Student ID: 32253338</p>
            <p style="font-size: 16px;">Phone: +61 431 407 987</p>
        </div>
    </div>
</footer>
