<div class="album py-5">
    <div class="container">
        <h3 class="my-2">CRUD Counters Stats</h3>
        <div class="row row-cols-1 g-3">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Current Number of Insert</th>
                        <th scope="col">Current Number of Get</th>
                        <th scope="col">Current Number of Update</th>
                        <th scope="col">Current Number of Delete</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                        <td>{{numberOfInsert}}</td>
                        <td>{{numberOfGet}}</td>
                        <td>{{numberOfUpdate}}</td>
                        <td>{{numberOfDelete}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

<div class="album py-5">
  <div class="container">
      <h3 class="my-2">Driver and Package Stats</h3>
      <div class="row row-cols-1 g-3">
          <div class="col">
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Current Number of Driver</th>
                      <th scope="col">Current Number of Package</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                      <tr>
                      <td>{{numberOfDriver}}</td>
                      <td>{{numberOfPackage}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </div>
  </div>
</div>
