<div class="album py-5">
    <div class="container">
        <h3 class="my-2">Driver List</h3>
        <div class="row row-cols-1 g-3">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Department</th>
                        <th scope="col">License</th>
                        <th scope="col">Speech</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                       @for(aDriver of driverList; track $index){
                        <tr>
                        <th scope="row">{{aDriver.driverId}}</th>
                        <td>{{aDriver.driverName|uppercase}}</td>
                        <td>{{aDriver.driverDepartment}}</td>
                        <td>{{aDriver.driverLicence}}</td>
                        <td>
                          <form>
                        <button class="btn btn-danger" (click)="fromTextToSpeech(aDriver.driverLicence)" id="fromTextToSpeech" name="fromTextToSpeech" >S</button></form>
                      </td>
                      </tr>
                    }
                    </tbody>
                  </table>
            </div>
        </div>
        @if(showAudio){
            <audio controls [src]="audioSrc">
              Your browser does not support the audio element.
            </audio>
        }
    </div>
</div>
